# ---------------------
# macOS system file
# ---------------------
.DS_Store


# ---------------------
# Global IDE-specific (optional)
# ---------------------
.vscode/
.idea/
.cache_ggshield


# ---------------------
# AWS-Core-Architecture project
# ---------------------

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Local .terraform directories (modules/plugins cache)
.terraform/

# Terraform plan output
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files (if you ever use them – caution!)
.terraform.tfvars
*.auto.tfvars

# Terragrunt cache
.terragrunt-cache/

# Lock file (optional, depends on workflow and team setup)
.terraform.lock.hcl


# ---------------------
# Jenkins-and-Docker project
# ---------------------

# Secrets Env Vars
.env

# Ansible cache
.ansible/

# Data Volumes --> Jenkins server data and MySQL data container
Jenkins-and-Docker/data-volumes/jenkins-home/
Jenkins-and-Docker/data-volumes/db-data/ 

# Jenkins Docker Container 
Jenkins-and-Docker/docker-containers/base-jenkins-container/remote-key
Jenkins-and-Docker/docker-containers/base-jenkins-container/remote-key.pub

# Jenkins-Ansible Docker Container 
Jenkins-and-Docker/docker-containers/jenkins-ansible-container/remote-key